<p id="notice"><%= notice %></p>

<h1>Listing Recipe Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_ingredients.each do |recipe_ingredient| %>
      <tr>
        <td><%= recipe_ingredient.amount %></td>
        <td><%= recipe_ingredient.amount %></td>
        <td><%= link_to 'Show', recipe_ingredient %></td>
        <td><%= link_to 'Edit', edit_recipe_ingredient_path(recipe_ingredient) %></td>
        <td><%= link_to 'Destroy', recipe_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe ingredient', new_recipe_ingredient_path %>
