<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user.username %></h1>
  <h6 class="text-center">Recipes created by user: <span class="badge"><%= @user.recipes.count %></span></h6>
</div>
<br>


<div class="row">
<div class="col-md-6 col-md-offset-3">

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th> Recipes by <%= @user.username %></th>
    </tr>
    </thead>
    <tbody>
    <% @user.recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.id, ingredient_path(recipe) %></td>
          <td><%= link_to recipe.name, recipe_path(recipe) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
<br>
<div class="row">
<div class="form-actions text-center">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn' %>
  <% if not current_user.nil? %>
      <% if not current_user.admin.nil? %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(@user), :class => 'btn btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(@user),
                      :method => 'delete',
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-danger' %>
      <% end %>
  <% end %>
</div>
</div>