<%# navigation styled for Bootstrap 3.0 %>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
      <div type="navbar-inner">
        <a class="brand" href="/"><img src="https://raw.githubusercontent.com/Coolnesss/BestRecipe/master/app/assets/images/bestrecipelogo.png" style="padding: 5px"/></a>
      </div>
    </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Recipes', recipes_path %></li>
        <li><%= link_to 'Ingredients', ingredients_path %></li>
      </ul>

     <% if not current_user.nil? %>
        <div class="navbar-right">
          <div class="btn-group">
            <a aria-expanded="false" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%= current_user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <li class="navbar-right"><%= button_to "Sign in", signin_path, :class => "btn btn-default navbar-btn", :method => :get %></li>
        <li class="navbar-right"><%= button_to "Sign up", signup_path, :class => "btn btn-default navbar-btn", :method => :get %></li>
      <% end %>


  </div>
</div>
