
<%# some facebook js for the like & share buttons %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=367532616766098&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%# navigation styled for Bootstrap 3.0 %>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
      <div type="navbar-inner">
        <a class="brand" href="/"><img src="https://raw.githubusercontent.com/Coolnesss/BestRecipe/master/app/assets/images/bestrecipelogo.png" style="padding: 5px; width: 50px; height: 50px"/></a>
      </div>
    </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><%= link_to "<i class='fa fa-cutlery fa-fw'></i> Recipes".html_safe, recipes_path, class: "btn" %></li>
        <li><%= link_to "<i class='fa fa-flask fa-fw'></i> Ingredients".html_safe, ingredients_path, class: "btn" %></li>
        <li><%= link_to "<i class='fa fa-users fa-fw'></i> Users".html_safe, users_path, class: "btn" %></li>
      </ul>

     <% if not current_user.nil? %>
        <div class="btn-group navbar-right" style="">
          <ul class="nav navbar-nav">
            <li><%= link_to "<i class='fa fa-user fa-fw'></i> #{current_user.username}".html_safe, current_user, class: "btn" %></li>
            <li><%= link_to "<i class='fa fa-plus-circle fa-fw'></i> New Recipe".html_safe, new_recipe_path, class: "btn", method: 'get' %></li>
            <li><%= link_to "<i class='fa fa-sign-out fa-fw'></i> Sign out".html_safe, signout_path, class: "btn", method: 'delete' %></li>
          </ul>
        </div>
      <% else %>
        <ul class="nav navbar-nav navbar-right" style="list-style: none;">
          <li><%= link_to "<i class='fa fa-sign-in fa-fw'></i> Sign in".html_safe, signin_path, class: "btn" %></li>
          <li><%= link_to "<i class='fa fa-user-plus fa-fw'></i> Sign up".html_safe, signup_path, class: "btn" %></li>
        </ul>
      <% end %>
  </div>
</div>
